#bd-wrapper { overflow: hidden; position: relative; }
#fps { position: absolute; left: 1px; top: 0; background: rgb(200,200,200); width: 70px; z-index: 1000; }
#commands { float: left; font-size: 14px; margin-left: 15px; }
#commands ul { list-style: none; padding-left: 0; }
#canvas-console { display: block; font-size: 11px; }
#rasterize { margin-top: 10px; color: green; }
#complexity { clear: both; padding-top: 10px; }
#controls { margin-bottom: 5px; }

#text-controls { display: inline-block; vertical-align: top; margin-left: 10px; border: 1px dotted #ccc; padding: 10px; }
#text-controls textarea { float: left; margin-right: 10px; }
#text-controls label { display: block; }

#text-controls-additional { display: inline-block; vertical-align: top; border: 1px dotted #ccc; padding: 10px; }
#text-controls-additional button { vertical-align: top; display: block; margin-bottom: 7px; }

#drawing-mode-options { margin-top: 5px; background: #ffc; padding: 5px; border: 1px solid #aaa; }
#text { position: relative; width: 350px; height: 200px; }
#text-cmd-linethrough { text-decoration: line-through; }
#text-cmd-underline { text-decoration: underline; }
#text-cmd-overline { text-decoration: overline; }
#text-cmd-italic { font-style: italic; }
#text-cmd-shadow { text-shadow: rgb(100,100,100) 1px 1px 3px; }

.canvas-container { margin: 0 auto; float: left; border: 1px solid #aaa; }
.clear { color: red; font-weight: bold; margin-top: 1em; }

#drawing-mode { color: blue; }
#drawing-mode.is-drawing { color: red; }

.svg-shapes { overflow: hidden; width: 450px; }
.svg-shapes li { display: inline; }
.object-controls { width: 450px }

button.selected { font-weight: bold; vertical-align: top }