body { font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif; margin: 0; }

#features { width: 750px; margin: 0 auto; text-align: center }
#features p { line-height: 1.2; text-align: left; text-indent: 15px }
#features p.primary { text-align: center; text-indent: 0 }
#features p.download { text-align: center; margin-top: 20px }
#features img { box-shadow: rgba(0,0,0,0.3) 0 0 5px; margin-top: 20px; margin-bottom: 20px; width: 400px }
#features img:hover { box-shadow: rgba(0,0,155,0.3) 0 0 5px; }

#header { background: #333; margin: 0; padding: 0; color: #555; }
#header li { display: inline-block; }
#header li a { display: inline-block; padding: 10px; color: pink; font-variant: small-caps; text-decoration: none; }
#header li a:hover, #header li a:focus { text-decoration: underline; }
#header li.github, #header li.twitter, #header li.flattr { float: right; }
#header li.flattr { margin-top: 9px; margin-right: 10px; margin-left: 5px }
.github a, .twitter a { font-variant: normal !important; color: #cf909b !important; }
.github span, .twitter span { color: pink }

#bd-wrapper { padding: 10px; }
#bd-wrapper > ul > li { margin-bottom: 5px }

pre { margin-top: 0; font-size: 12px; vertical-align: top; background: #F4F2E5; display: inline-block; padding: 15px; margin-left: 15px; display: inline-block; }

.canvas-container { border: 1px dotted #ccc; display: inline-block; vertical-align: top; -webkit-tap-highlight-color: rgba(0,0,0,0); }

h2 span { font-weight: normal; }

b.bench { font-family: monospace; font-size: 18px; background: #ffc; padding: 0 3px; border: 1px solid #eee; line-height: 1.5 }

/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}