.DS_Store
*.iml
change-output.md
/.nyc_output/
/node_modules/
/npm-debug.log
before_commit
/coverage/
.idea/
e2e/dist/
/dist-extensions/*
!/dist-extensions/fabric-extensions.min.*
!/dist-extensions/**/*.ts
/dist/*
!/dist/index.node.mjs
!/dist/index.node.mjs.map
!/dist/index.mjs
!/dist/index.mjs.map
!/dist/index.min.js
!/dist/index.min.js.map
!/dist/index.min.mjs
!/dist/index.min.mjs.map
/cli_output/
e2e/test-report/
e2e/test-results/
**/.cache/
docs/
__screenshots__
