.DS_Store
*.iml
change-output.md
/.nyc_output/
/node_modules/
/npm-debug.log
before_commit
/coverage/
.idea/
/dist/fabric.require.js
/dist/fabric.min.js.gz
/cli_output/
/scripts/cli_cache.json
/dist/
/lib/
/test/
.next/
.parcel-cache/
/docs/
