.DS_Store
*.iml
change-output.md
/.nyc_output/
/node_modules/
/npm-debug.log
before_commit
/coverage/
.idea/
/cli_output/
/scripts/cli_cache.json
**/dist/
**/dist-extensions/
/lib/
/test/
/website/
.next/
.parcel-cache/
/docs/
/e2e/test-results/
/e2e/test-report/
/e2e/tests/**/*-snapshots/*.json