language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libgif-dev libpng-dev libjpeg8-dev libpango1.0-dev libcairo2-dev
script: 'npm run build && npm run test && npm run lint && npm run lint_tests'
