language: node_js
node_js:
  - "9"
  - "8"
  - "6"
  - "4"
script: 'npm run build && npm run test && npm run lint && npm run lint_tests'
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libc6 libgif-dev libpng-dev libjpeg8-dev libpango1.0-dev libcairo2-dev
dist: trusty
