language: node_js
node_js:
  - "6"

stages:
  - lint_build
  - test

cache:
  directories:
    - node_modules

env:
  global:
    - LAUNCHER=Node

jobs:
  include:
    - stage: lint_build
      before_install: skip
      env: STEP=LINT
      install: npm install eslint@4.7.x
      script: 'npm run lint && npm run lint_tests'
    - stage: lint_build
      before_install: skip
      env: STEP=BUILD
      install: npm install uglify-js@3.1.x
      script: 'npm run build'
    - stage: test
      env: LAUNCHER=Chrome
      before_install: skip
      install: npm install testem@1.18.4 qunit@2.4.1
    - stage: test
      env: LAUNCHER=Firefox
      before_install: skip
      install: npm install testem@1.18.4 qunit@2.4.1
    - stage: test
      node_js: "9"
    - stage: test
      node_js: "8"
    - stage: test
      node_js: "6"
    - stage: test
      node_js: "4"

script: 'npm run build:fast && testem ci --port 8080 -f testem.json -l $LAUNCHER'

before_install:
  - sudo apt-get install -qq libgif-dev libpng-dev libjpeg-dev libpango1.0-dev
  # libcairo2-dev is preinstalled

dist: trusty
