language: node_js
node_js:
  - "7"
  - "6"
  - "5"
  - "4"
env:
  - CXX=g++-4.9
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.9
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libgif-dev libpng-dev libjpeg8-dev libpango1.0-dev libcairo2-dev
script: 'npm run build && npm run test && npm run lint && npm run lint_tests'
