<!doctype html>
<html>
<head>
<title>Test'em</title>
<script src="/bower_components/qunit/qunit/qunit.js"></script>
<script src="/testem.js"></script>
{{#serve_files}}<script src="{{{src}}}"{{#attrs}} {{&.}}{{/attrs}}></script>{{/serve_files}}
<link rel="stylesheet" href="/bower_components/qunit/qunit/qunit.css"/>
{{#styles}}<link rel="stylesheet" href="{{.}}">{{/styles}}
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
</body>
</html>
