pre { width: 450px; max-width: 500px; padding: 10px; margin: 0 30px 0 0; background: #444; color: #eee; font-size: 11px; 
    word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap; }
.column { float: left; min-width: 300px; margin-right: 10px; }
.column p { margin: 0 0 5px 0; padding: 0; }
.lower-canvas, .svg { margin-bottom: 10px; border: 1px solid #eee; background: #fff; }
.svg { width: 300px; height: 300px; }
.test { overflow: hidden; background: #eee; margin-bottom: 20px; display: inline-block; float: left; 
  padding: 10px; box-shadow: 1px 1px 1px rgba(0,0,0,0.4) }
.test-source { display: none }
.note { background: #ffc; padding: 3px; box-shadow: 0 0 1px rgba(0,0,0,0.3); display: inline-block; }