<ul id="header">
  <li><a href="http://fabricjs.com/">Features</a></li>
  <li><a href="http://fabricjs.com/demos">Demos</a></li>
  <li><a href="http://fabricjs.com/benchmarks">Benchmarks</a></li>
  <li><a href="http://fabricjs.com/docs">Docs</a></li>
  <li><a href="http://fabricjs.com/test">Tests</a></li>
  <li class="flattr secondary">
    <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://kangax.github.com/fabric.js"></a>
    <noscript><a href="http://flattr.com/thing/391332/Fabric-js" target="_blank">
    <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
  </li>
  <li class="twitter secondary"><a href="http://twitter.com/fabricjs"><span>Twitter</span></a></li>
  <li class="github secondary"><a href="http://github.com/kangax/fabric.js"><span>Github</span></a></li>
  <li class="secondary"><a href="http://stackoverflow.com/questions/tagged/fabricjs"><span>StackOverflow</span></a></li>
  <li class="secondary"><a href="https://github.com/kangax/fabric.js/wiki"><span>Wiki</span></a></li>
  <li class="secondary"><a href="http://groups.google.com/group/fabricjs"><span>Discussion</span></a></li>
</ul>
<script>
(function() {
  var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
  s.async = true;
  s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
  t.parentNode.insertBefore(s, t);
})();
</script>