.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App-link {
  color: #21b1da;
  margin: 0 1rem;
}

.App-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  margin: 20px;
  padding: 20px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.App-deploy {
  display: flex;
  align-items: center;
}

.App-deploy > * {
  margin: 0 10px;
}