body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

*[hidden=true] {
  display: none !important;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightskyblue;
  padding: 5rem;
}

.App-footer button.close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  padding: 1rem;
  color: red;
  font-size: large;
}

.App-link {
  color: #21b1da;
  margin: 0 1rem;
}

.App-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  margin: 20px;
  padding: 20px;
}

.App-deploy {
  display: flex;
  align-items: center;
}

.App-deploy > * {
  margin: 0 10px;
}