#features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#features h2 {
  display: block;
  font-size: 40px;
}

#features .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 50px;
}

#features .grid-item {
  height: auto;
}

#features .grid-item:nth-child(2n-1) {
  text-align: right;
}