<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>{{ page.title }} | Fabric.js Demos</title>
    
    <link rel="stylesheet" href="/css/master.css">
  
    <script src="/lib/fabric.js"></script>
    
    <!--[if lt IE 9]>
      <script src="https://raw.github.com/kangax/fabric.js/gh-pages/lib/excanvas.js"></script>
    <![endif]-->
    
  </head>
  <body class="demo">
    {% include header.html %}
  
    <div id="bd-wrapper">
      <h2><span>Fabric.js tests</span> &middot; {{ page.title }}</h2>
    
      {{ content }}
    </div>
  </body>
</html>